In [1]:
import csv
import pandas as pd
import numpy as np
import matplotlib.pylab as plt

from google.colab import drive

drive.mount('/content/drive')

path_link = "/content/drive/MyDrive/housing.csv"
df = pd.read_csv(path_link)

Mounted at /content/drive

In [2]:
df.head()

,id,Date,number of bedrooms,number of bathrooms,living area,lot area,number of floors,waterfront present,number of views,condition of the house,...,Built Year,Renovation Year,Postal Code,Lattitude,Longitude,living_area_renov,lot_area_renov,Number of schools nearby,Distance from the airport,Price
0,6762810145,42491,5,2.50,3650,9050,2.0,0,4,5,...,1921,0,122003,52.8645,-114.557,2880,5400,2,58,2380000
1,6762810635,42491,4,2.50,2920,4000,1.5,0,0,5,...,1909,0,122004,52.8878,-114.470,2470,4000,2,51,1400000
2,6762810998,42491,5,2.75,2910,9480,1.5,0,0,3,...,1939,0,122004,52.8852,-114.468,2940,6600,1,53,1200000
3,6762812605,42491,4,2.50,3310,42998,2.0,0,0,3,...,2001,0,122005,52.9532,-114.321,3350,42847,3,76,838000
4,6762812919,42491,3,2.00,2710,4500,1.5,0,0,4,...,1929,0,122006,52.9047,-114.485,2060,4500,1,51,805000

In [3]:
X = df.drop('Price', axis=1).values
y = df['Price'].values.reshape(-1, 1)#convert y into a column vector

In [4]:
df.isnull().sum()

id                                       0
Date                                     0
number of bedrooms                       0
number of bathrooms                      0
living area                              0
lot area                                 0
number of floors                         0
waterfront present                       0
number of views                          0
condition of the house                   0
grade of the house                       0
Area of the house(excluding basement)    0
Area of the basement                     0
Built Year                               0
Renovation Year                          0
Postal Code                              0
Lattitude                                0
Longitude                                0
living_area_renov                        0
lot_area_renov                           0
Number of schools nearby                 0
Distance from the airport                0
Price                                    0
dtype: int64

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import seaborn as sns

In [6]:
x = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [7]:
x=np.asarray(x)
y=np.asarray(y)

In [8]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)
print(X_train.shape,X_test.shape,y_train.shape,y_test.shape)

(11696, 22) (2924, 22) (11696,) (2924,)

In [9]:
X_train.shape[1]

22

In [10]:
mean = np.mean(X_train, axis=0)
std = np.std(X_train, axis=0)

# Normalize the data
X_train = (X_train - mean) / std

In [11]:
mean = np.mean(X_test, axis=0)
std = np.std(X_test, axis=0)

# Normalize the data
X_test = (X_test - mean) / std

In [12]:
mean = np.mean(y_train, axis=0)
std = np.std(y_train, axis=0)

# Normalize the data
y_train = (y_train - mean) / std

In [13]:
mean = np.mean(y_test, axis=0)
std = np.std(y_test, axis=0)

# Normalize the data
y_test = (y_test - mean) / std

In [14]:
#define neural network : without activation function
input_size = X_train.shape[1]
hidden_size = 4
output_size=1

In [15]:
#randomly initialize weights and biases
np.random.seed(42)
hidden_weights=np.random.randn(input_size,hidden_size)
hidden_bias=np.zeros(hidden_size)
output_weights=np.random.randn(hidden_size,output_size)
output_bias=np.zeros(output_size)

In [16]:
learning_rate = 0.001
num_epochs = 15000

for epoch in range(num_epochs):
  #forward propagation
  hidden_layer_input = np.dot(X_train,hidden_weights)+hidden_bias
  hidden_layer_output = 1/(1+np.exp(-hidden_layer_input))
  predictions = np.dot(hidden_layer_output,output_weights)+output_bias

  #mean squared error
  loss = np.mean((predictions - y_train.reshape(-1,1)) ** 2)

  #backpropagation
  output_error = 2 * (predictions - y_train.reshape(-1,1))#gradient of mse
  hidden_error = np.dot(output_error,output_weights.T)*hidden_layer_output*(1-hidden_layer_output)

  #update w and b using gradient descent

  output_weights -= learning_rate * np.dot(hidden_layer_output.T , output_error) / len(y_train)
  output_bias -= learning_rate * np.sum(output_error) / len(y_train)
  hidden_weights -= learning_rate * np.dot(X_train.T,hidden_error) / len(y_train)
  hidden_bias -= learning_rate * np.sum(hidden_error) / len(y_train)

  if epoch%100==0 :
    print(f"epoch {epoch} , loss: {loss:.4f}")

epoch 0 , loss: 1.7925
epoch 100 , loss: 1.4085
epoch 200 , loss: 1.2408
epoch 300 , loss: 1.1592
epoch 400 , loss: 1.1126
epoch 500 , loss: 1.0808
epoch 600 , loss: 1.0558
epoch 700 , loss: 1.0343
epoch 800 , loss: 1.0149
epoch 900 , loss: 0.9970
epoch 1000 , loss: 0.9803
epoch 1100 , loss: 0.9648
epoch 1200 , loss: 0.9501
epoch 1300 , loss: 0.9364
epoch 1400 , loss: 0.9235
epoch 1500 , loss: 0.9113
epoch 1600 , loss: 0.8998
epoch 1700 , loss: 0.8890
epoch 1800 , loss: 0.8787
epoch 1900 , loss: 0.8691
epoch 2000 , loss: 0.8599
epoch 2100 , loss: 0.8512
epoch 2200 , loss: 0.8430
epoch 2300 , loss: 0.8353
epoch 2400 , loss: 0.8279
epoch 2500 , loss: 0.8209
epoch 2600 , loss: 0.8142
epoch 2700 , loss: 0.8079
epoch 2800 , loss: 0.8019
epoch 2900 , loss: 0.7961
epoch 3000 , loss: 0.7907
epoch 3100 , loss: 0.7855
epoch 3200 , loss: 0.7805
epoch 3300 , loss: 0.7757
epoch 3400 , loss: 0.7712
epoch 3500 , loss: 0.7668
epoch 3600 , loss: 0.7627
epoch 3700 , loss: 0.7587
epoch 3800 , loss: 0.7549
epoch 3900 , loss: 0.7512
epoch 4000 , loss: 0.7477
epoch 4100 , loss: 0.7443
epoch 4200 , loss: 0.7411
epoch 4300 , loss: 0.7380
epoch 4400 , loss: 0.7349
epoch 4500 , loss: 0.7320
epoch 4600 , loss: 0.7292
epoch 4700 , loss: 0.7265
epoch 4800 , loss: 0.7239
epoch 4900 , loss: 0.7214
epoch 5000 , loss: 0.7190
epoch 5100 , loss: 0.7166
epoch 5200 , loss: 0.7143
epoch 5300 , loss: 0.7121
epoch 5400 , loss: 0.7099
epoch 5500 , loss: 0.7078
epoch 5600 , loss: 0.7058
epoch 5700 , loss: 0.7038
epoch 5800 , loss: 0.7019
epoch 5900 , loss: 0.7000
epoch 6000 , loss: 0.6982
epoch 6100 , loss: 0.6964
epoch 6200 , loss: 0.6946
epoch 6300 , loss: 0.6929
epoch 6400 , loss: 0.6912
epoch 6500 , loss: 0.6896
epoch 6600 , loss: 0.6880
epoch 6700 , loss: 0.6864
epoch 6800 , loss: 0.6849
epoch 6900 , loss: 0.6834
epoch 7000 , loss: 0.6819
epoch 7100 , loss: 0.6805
epoch 7200 , loss: 0.6790
epoch 7300 , loss: 0.6776
epoch 7400 , loss: 0.6762
epoch 7500 , loss: 0.6749
epoch 7600 , loss: 0.6735
epoch 7700 , loss: 0.6722
epoch 7800 , loss: 0.6709
epoch 7900 , loss: 0.6696
epoch 8000 , loss: 0.6683
epoch 8100 , loss: 0.6671
epoch 8200 , loss: 0.6658
epoch 8300 , loss: 0.6646
epoch 8400 , loss: 0.6634
epoch 8500 , loss: 0.6622
epoch 8600 , loss: 0.6610
epoch 8700 , loss: 0.6598
epoch 8800 , loss: 0.6586
epoch 8900 , loss: 0.6575
epoch 9000 , loss: 0.6563
epoch 9100 , loss: 0.6552
epoch 9200 , loss: 0.6541
epoch 9300 , loss: 0.6529
epoch 9400 , loss: 0.6518
epoch 9500 , loss: 0.6507
epoch 9600 , loss: 0.6496
epoch 9700 , loss: 0.6485
epoch 9800 , loss: 0.6474
epoch 9900 , loss: 0.6464
epoch 10000 , loss: 0.6453
epoch 10100 , loss: 0.6442
epoch 10200 , loss: 0.6432
epoch 10300 , loss: 0.6421
epoch 10400 , loss: 0.6411
epoch 10500 , loss: 0.6400
epoch 10600 , loss: 0.6390
epoch 10700 , loss: 0.6380
epoch 10800 , loss: 0.6369
epoch 10900 , loss: 0.6359
epoch 11000 , loss: 0.6349
epoch 11100 , loss: 0.6339
epoch 11200 , loss: 0.6329
epoch 11300 , loss: 0.6318
epoch 11400 , loss: 0.6308
epoch 11500 , loss: 0.6298
epoch 11600 , loss: 0.6288
epoch 11700 , loss: 0.6279
epoch 11800 , loss: 0.6269
epoch 11900 , loss: 0.6259
epoch 12000 , loss: 0.6249
epoch 12100 , loss: 0.6239
epoch 12200 , loss: 0.6229
epoch 12300 , loss: 0.6220
epoch 12400 , loss: 0.6210
epoch 12500 , loss: 0.6200
epoch 12600 , loss: 0.6191
epoch 12700 , loss: 0.6181
epoch 12800 , loss: 0.6171
epoch 12900 , loss: 0.6162
epoch 13000 , loss: 0.6152
epoch 13100 , loss: 0.6143
epoch 13200 , loss: 0.6133
epoch 13300 , loss: 0.6124
epoch 13400 , loss: 0.6114
epoch 13500 , loss: 0.6105
epoch 13600 , loss: 0.6095
epoch 13700 , loss: 0.6086
epoch 13800 , loss: 0.6077
epoch 13900 , loss: 0.6067
epoch 14000 , loss: 0.6058
epoch 14100 , loss: 0.6049
epoch 14200 , loss: 0.6039
epoch 14300 , loss: 0.6030
epoch 14400 , loss: 0.6021
epoch 14500 , loss: 0.6012
epoch 14600 , loss: 0.6002
epoch 14700 , loss: 0.5993
epoch 14800 , loss: 0.5984
epoch 14900 , loss: 0.5975

In [24]:
# Assuming predictions and y_train contain predicted and actual values respectively

# Define a threshold for correctness (e.g., 0.5)
threshold = 0.5

# Count correct predictions within the threshold
correct_predictions = np.sum(np.abs(predictions - y_train.reshape(-1, 1)) < threshold)

# Calculate accuracy
accuracy = correct_predictions / len(y_train)
print(f"Accuracy: {accuracy}")

Accuracy: 0.7423050615595075

In [25]:
# Assuming predictions and y_train contain predicted and actual values respectively

# Calculate the mean of the actual values
y_mean = np.mean(y_train)

# Calculate the total sum of squares (TSS)
TSS = np.sum((y_train - y_mean) ** 2)

# Calculate the residual sum of squares (RSS)
RSS = np.sum((predictions - y_train.reshape(-1, 1)) ** 2)

# Calculate R-squared (R2) score
R2 = 1 - (RSS / TSS)
print(f"R-squared (R2) Score: {R2}")

R-squared (R2) Score: 0.4034220585252174

In [18]:
#mse on test set
mse = np.square(np.subtract(y_test,predicted_prices)).mean()
print(mse)

1.3591367407877906

In [19]:
rmse = np.sqrt(mse)
rmse

1.1658202008833911